
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1E1C1C;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animate:hover{
  transform: scale(1.05);
}
h1{
  font-family: 'Berkshire Swash', cursive;
  color: #de1b1b;
}
h2{
  font-family: 'Berkshire Swash', cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    

}
.w_25{
  width: 23%;
}
@media only screen and (max-width: 1250px) {
  .w_25{
    width: 30%;
  }
}
@media only screen and (max-width: 1000px) {
  .w_25{
    width: 44%;
  }
}
@media only screen and (max-width: 560px) {
  .w_25{
    width: 100%;
  }
}
  .bg-lightest-red{
  background-color: #212121;
  color: #fff;
  border-radius: 10px;
  border: 24px solid #fff;
}
.blue a{
  color: #de1b1b !important;
  text-decoration: none;
  font-weight: 700;
}
.text-blue{
  color: #1E1C1C;
  text-decoration: none;
  font-weight: 700;
}
.text-blue:hover{
  color: #de1b1b;
}

.trim_text{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}